Core/node_modules
Core/public/hot
Core/public/storage
Core/storage/*.key
Core/vendor
Core/storage/logs/*
Core/.env
Core/.env.backup
Core/.phpunit.result.cache
Core/docker-compose.override.yml
Core/Homestead.json
Core/Homestead.yaml
Core/npm-debug.log
Core/yarn-error.log
Core/.idea
Core/.vscode
Users/node_modules
Users/public/hot
Users/public/storage
Users/storage/*.key
Users/vendor
Users/storage/logs/*
Users/.env
Users/.env.backup
Users/.phpunit.result.cache
Users/docker-compose.override.yml
Users/Homestead.json
Users/Homestead.yaml
Users/npm-debug.log
Users/yarn-error.log
Users/.idea
Users/.vscode
Notifications/node_modules
Notifications/public/hot
Notifications/public/storage
Notifications/storage/*.key
Notifications/vendor
Notifications/storage/logs/*
Notifications/.env
Notifications/.env.backup
Notifications/.phpunit.result.cache
Notifications/docker-compose.override.yml
Notifications/Homestead.json
Notifications/Homestead.yaml
Notifications/npm-debug.log
Notifications/yarn-error.log
Notifications/.idea
Notifications/.vscode